<!doctype html>
<html>
  <head>
    <title>Week 2</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body> 
    <div class="container">

      <h1>Welcome to Fwitter!</h1>

      <h2>Tweets!</h2>
      <% @tweets.each do |tweet| %>
        <p><strong><%= tweet.username %>:</strong> <%= tweet.status %> - <%= tweet.time_stamp %></p>
      <% end %>

      <h2>Add a tweet</h2>
      <form action="/tweets" method="POST">
        <p>Username: <input type="text" name="username"></p>
        <p>Status: <input type="text" name="status"></p>
        <p><input type="hidden" name="time_stamp" value="<%= DateTime.now.strftime("%B %d, %Y - %I:%M%p") %>"></p>
        <input class="btn btn-primary" type="submit">
      </form>
      
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>